.btn-sky {
	background: $grad-sky;
	border-radius: 50px;	

	padding: 10px 30px;
}

.btn-red {
	background: $grad-red;
	border-radius: 50px;	

	padding: 10px 30px;
}

.btn-white {
	background: $bg;
	border: 1px solid $white;
	border-radius: 50px;	

	padding: 10px 30px;
}